Source: darkmatter-depends
Section: devel
Priority: extra
Maintainer: Lindell Alderman <lindell.alderman@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), cmake, autoconf, automake, libtool, xutils-dev, patch, gcc, g++, git, psutils, texinfo, uuid-dev, uuid-runtime, libaio-dev, libaio1, ragel
Standards-Version: 3.9.1
Homepage: http://www.darkmatter.net/
#Vcs-Git: git://git.debian.org/collab-maint/darkmatter-depends.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/darkmatter-depends.git;a=summary

Package: darkmatter-depends
Architecture: __DIST_ARCH__
Depends: ${shlibs:Depends}, ${misc:Depends}, libgcc1, psutils, uuid-runtime, libaio1
Description: 3rd party dependencies for DarkMatter
